{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h3>Historial de Devoluciones</h3>
  <table class="table table-bordered">
    <thead><tr><th>Usuario</th><th>Copia</th><th>Fecha Devolución</th><th>Observación</th></tr></thead>
    <tbody>
      {% for d in devoluciones %}
      <tr>
        <td>{{ d.prestamo.usuario }}</td>
        <td>{{ d.prestamo.copia.codigo_interno }}</td>
        <td>{{ d.fecha_devolucion.strftime('%Y-%m-%d') }}</td>
        <td>{{ d.observacion }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}